export(shinyApp)
export(runApp)
export(runExample)
export(isRunning)
export(stopApp)
export(as.shiny.appobj)
export(reactive)
export(reactiveVal)
export(reactiveValues)
export(reactiveValuesToList)
export(observe)
export(observeEvent)
export(eventReactive)
export(bindEvent)
export(isolate)
export(req)
export(debounce)
export(throttle)
export(freezeReactiveValue)
export(flushReact)
export(getDefaultReactiveDomain)
export(withReactiveDomain)
export(onReactiveDomainEnded)
export(fluidPage)
export(fixedPage)
export(fillPage)
export(flowLayout)
export(verticalLayout)
export(sidebarLayout)
export(sidebarPanel)
export(mainPanel)
export(wellPanel)
export(absolutePanel)
export(fixedPanel)
export(conditionalPanel)
export(column)
export(fluidRow)
export(htmlTemplate)
export(tagList)
export(titlePanel)
export(headerPanel)
export(HTML)
export(tags)
export(textInput)
export(textAreaInput)
export(passwordInput)
export(numericInput)
export(sliderInput)
export(dateInput)
export(dateRangeInput)
export(checkboxInput)
export(checkboxGroupInput)
export(radioButtons)
export(selectInput)
export(selectizeInput)
export(varSelectInput)
export(varSelectizeInput)
export(fileInput)
export(actionButton)
export(actionLink)
export(submitButton)
export(textOutput)
export(verbatimTextOutput)
export(plotOutput)
export(imageOutput)
export(tableOutput)
export(dataTableOutput)
export(htmlOutput)
export(uiOutput)
export(downloadButton)
export(downloadLink)
export(renderText)
export(renderPrint)
export(renderTable)
export(renderDataTable)
export(renderPlot)
export(renderCachedPlot)
export(renderImage)
export(renderUI)
export(downloadHandler)
export(writeDocxTable)
export(createRenderFunction)
export(markRenderFunction)
export(outputOptions)
export(getCurrentOutputInfo)
export(updateTextInput)
export(updateTextAreaInput)
export(updateNumericInput)
export(updateSliderInput)
export(updateCheckboxInput)
export(updateCheckboxGroupInput)
export(updateRadioButtons)
export(updateSelectInput)
export(updateSelectizeInput)
export(updateVarSelectInput)
export(updateVarSelectizeInput)
export(updateDateInput)
export(updateDateRangeInput)
export(restoreInput)
export(registerInputHandler)
export(removeInputHandler)
export(snapshotPreprocessInput)
export(snapshotPreprocessOutput)
export(bootstrapPage)

# S3 registrations required for replacement methods used by the runtime.
S3method("$",winshiny.output)
S3method("$<-",winshiny.output)
S3method("$",reactivevalues)
S3method("$<-",reactivevalues)
S3method("[[",reactivevalues)
S3method("[[<-",reactivevalues)
export(basicPage)
export(pageWithSidebar)
export(inputPanel)
export(helpText)
export(splitLayout)
export(fixedRow)
export(fillRow)
export(fillCol)
export(navbarPage)
export(tabsetPanel)
export(tabPanel)
export(tabPanelBody)
export(navbarMenu)
export(navlistPanel)
export(themeToggle)
export(winThemeToggle)
export(a)
export(br)
export(code)
export(div)
export(em)
export(h1)
export(h2)
export(h3)
export(h4)
export(h5)
export(h6)
export(hr)
export(img)
export(p)
export(pre)
export(span)
export(strong)
export(icon)
export(isTruthy)
export(need)
export(validate)
export(validateCssUnit)
export(NS)
export(ns.sep)
export(moduleServer)
export(callModule)
export(updateActionButton)
export(updateActionLink)
export(updateTabsetPanel)
export(updateNavbarPage)
export(updateNavlistPanel)
export(modalButton)
export(modalDialog)
export(showModal)
export(removeModal)
export(showNotification)
export(removeNotification)
export(shinyUI)
export(shinyServer)
export(onFlush)
export(onFlushed)
export(onSessionEnded)
export(onStop)
S3method("$",winshiny.inputproxy)
S3method("[[",winshiny.inputproxy)
export(tag)
export(tagAppendAttributes)
export(tagAppendChild)
export(tagAppendChildren)
export(tagGetAttribute)
export(tagHasAttribute)
export(tagSetChildren)
export(withTags)
export(singleton)
export(is.singleton)
export(suppressDependencies)
export(includeText)
export(includeHTML)
export(includeMarkdown)
export(includeCSS)
export(includeScript)
export(markdown)
export(withMathJax)
export(is.reactive)
export(is.reactivevalues)
export(freezeReactiveVal)
export(makeReactiveBinding)
export(exprToFunction)
export(quoToFunction)
export(installExprFunction)
export(repeatable)
export(safeError)
export(printError)
export(withLogErrors)
export(shinyOptions)
export(getShinyOption)
export(animationOptions)
export(clickOpts)
export(dblclickOpts)
export(hoverOpts)
export(brushOpts)
export(getQueryString)
export(parseQueryString)
export(getUrlHash)
export(updateQueryString)
export(serverInfo)
export(invalidateLater)
export(reactiveTimer)
export(reactivePoll)
export(reactiveFileReader)
export(getCurrentTheme)
export(is.shiny.appobj)
export(readClipboardTable)
export(copyTableToClipboard)
export(copyImageToClipboard)
export(copyWordTable)

export(clipboardButton)
export(copyTableButton)
export(copyPlotButton)

export(parseClipboardTable)
export(winShinyCapabilities)
